.typing{ 
    overflow: hidden; 
    margin: 0, auto;
    animation: typing 1s steps(30, end);
}

.cursor{
    border-right: .15em solid rgb(134, 239, 172);
    white-space: nowrap;
    animation: blink-animation .5s step-end infinite
}

@keyframes typing {
    from { width: 0 }
    to { width: 30% }
}

@keyframes blink-animation {
    from, to { border-color: transparent }
    50% { border-color: rgb(134, 239, 172) }
}